button {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.5rem;
		margin: 0 auto;
		display: block;
		max-width: 350px;
}

p {
	width: 80%;
	max-width: 40rem;
	margin: 1rem auto;
}

@media (min-width: 400px) {
	button {
		float: right;
	}
}

@media (min-width: 1000px) {
	button {
		display: none;
	}
}
